* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Generales */
body {
    font-family: 'Dancing Script';
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #fae3e3 0%, #f5dccc 89%);
}

header {
    height: max-content;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1:hover {
    transform: scale(1.03);
    transition: 200ms;
}

header h1 a{
    color: #C98BB9;
    font-family: 'Dancing Script',cursive;
    font-size: 2.3rem;
    font-weight: bold;
    text-decoration: none;
}
/* 
nav .navbar .navbar-expand-sm {
    display: flex;
    flex-direction: column;

} */

header nav ul {
    margin: 0;
    list-style: none;
    text-align: right;
}

header nav ul li{
    display: inline-block;
    padding-left: 10px;
}

.navbar-nav .nav-item .nav-link{
    padding: 0;
    text-decoration: none;
    color: #C98BB9;
    font-family: 'Dancing Script',cursive;
    font-weight: bold;
}

header nav ul li:hover {
    transform: scale(1.1);
    transition: 200ms;
}

header nav ul li a:hover {
    color: #846B8A;
}

main h4 {
    /* padding: 0 20px; */
    /* font-family: 'Kalam', cursive; */
    font-size: 1.5rem;
    color: #846B8A;
}

.current {
    color: #846B8A !important;
}

footer .container-informacion {
    padding: 30px 0;
    margin-top: 30px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

footer .container-informacion div{
    width: 300px;
    padding: 10px;
    text-align: left;
}

footer .container-informacion div p{
    /* font-family: 'Kalam', cursive; */
    line-height: 1.5;
    font-size: 1.3rem;
}

footer .container-informacion div p:nth-child(1) {
    font-weight: bold;
    font-size: 1.55rem;
}

footer .container-redes-sociales ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

footer .container-redes-sociales ul li a img {
    margin: 0 3px;
    height: 35px;
    width: 35px;
}

footer .container-redes-sociales ul li a img:hover {
    transform: scale(1.1);
}

footer h5{
    text-align: center;
    margin: 30px 0;
}

/* Estilos del HOME */

.container-img-index {
    padding: 0 20px;
}

.container-img-index ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-index {
    width: 430px;
    /* height: 625px; */
    margin-bottom: 15px;
    border-radius: 40px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

.img-index:hover {
    transform: scale(1.05);
    transition: 400ms;
}

.container-parrafo-index {
    padding: 30px 60px; 
    text-align: center;
}

.container-parrafo-index p{
    padding: 30px 0;
    font-size: 20px;
    /* font-family: 'Kalam', cursive; */
    line-height: 2;
}

/* Estilos Nosotros */


.container-main-nosotros {
    padding: 0 20px 20px 20px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 4fr 1fr;
    grid-template-areas:
    "h4 img"
    "parrafo-1 img"
    "parrafo-2 parrafo-2";
    row-gap: 20px;
    column-gap: 30px;

}

.container-main-nosotros img {
    width: 100%;
    height: 100%;
    border: #382d3a solid 3px;
    border-radius: 30px;
    grid-area: img;
    object-fit: cover;
}

.container-main-nosotros h4 {
    padding-left: 20px;
    grid-area: h4;
}    

.container-main-nosotros .parrafo-1 {
    text-align: center;
    font-size: 1.5rem;
    grid-area: parrafo-1;
}

.container-main-nosotros .parrafo-2 {
    grid-area: parrafo-2;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 40px;
}

/* Estilos Contacto */

.container-main-contacto {
    padding: 0 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "img img img img"
    "contac none form form"
    "parrafo parrafo form form";
    gap: 40px;
}

.container-main-contacto img {
    height: 100%;
    width: 100%;
    grid-area: img;
    border: 3px solid #382d3a;
    border-radius: 5px 20px 5px 20px;
}

.container-main-contacto h4 {
    grid-area: contac;
}

.container-main-contacto p {
    grid-area: parrafo;
    font-size: 1.5rem;
}

.container-formulario-contacto {
    font-size: 1.8rem;
    grid-area: form;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "nombre telefono"
    "nombre-im telefono-im"
    "ciudad email"
    "ciudad-im email-im"
    "mensaje mensaje"
    "mensaje-im mensaje-im"
    "button button";
    gap: 15px;
}

.container-formulario-contacto input, .container-formulario-contacto textarea {
    background-color: transparent;
    border: 1px solid #846B8A;
    border-radius: 15px;
    outline: none;
    font-family: 'Kalam', cursive;
    font-size: 1.1rem;
}

.nombre {
    grid-area: nombre;
}

.nombre-im {
    grid-area: nombre-im;
}

.telefono {
    grid-area: telefono;
}

.telefono-im {
    grid-area: telefono-im;
}

.ciudad {
    grid-area: ciudad;
}

.ciudad-im {
    grid-area: ciudad-im;
}

.email {
    grid-area: email;
}

.email-im {
    grid-area: email-im;
}

.mensaje {
    grid-area: mensaje;
}

.mensaje-im {
    grid-area: mensaje-im;
}

.container-main-contacto .button {
    grid-area: button;
    justify-self: center;
    width: 100px;
    height: 30px;
    background-color: #CFA5B4;
    border: 2px solid #382d3a;
    border-radius: 7px;
}

/* Estilos Galería */

.container-main-galeria h4 {
    padding-left: 20px;
}
.container-img-galeria {
    padding: 10px 20px 20px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;

}

.container-img-galeria img {
    width: 350px;
    border-radius: 6px;
}

.container-img-galeria img:hover {
    transform: scale(1.1);
    transition: 200ms;
}

/* Estilos Tienda */

.main-tienda {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 5fr 0.5fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
}

.main-tienda section h4 {
    padding-bottom: 10px;
}

.container-tienda {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid #CFA5B4;
    border-radius: 20px;
    padding: 20px;
}

.container-producto-tienda, .container-producto-carrito {
    margin: 10px;
    border-bottom: 2px solid #CFA5B4;
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: auto;
    grid-template-areas:
    "img img"
    "prod none"
    "precio carrito";
}

.container-producto-tienda img:nth-child(1) {
    width: 200px;
    border-radius: 6px;
    grid-area: img;
    margin-bottom: 10px;
}

.container-producto-tienda p, .container-producto-carrito p {
    font-size: 1.2rem;
}

.container-producto-tienda p:nth-child(2), .container-producto-carrito p:nth-child(2) {
    grid-area: prod;
    margin-bottom: 5px;
}

.container-producto-tienda p:nth-child(3), .container-producto-carrito p:nth-child(3) {
    grid-area: precio;
}

.container-producto-tienda img:nth-child(4), .container-producto-carrito img:nth-child(4) {
    grid-area: carrito;
}

.container-producto-tienda img:nth-child(4):hover, .container-producto-carrito img:nth-child(4):hover {
    cursor: pointer;
    transform: scale(0.9);
}

.container-aside-carrito h4 {
    padding-bottom: 10px;
}

.container-carrito {
    border: 2px solid #CFA5B4;
    border-radius: 10px;
    padding: 10px;
}

.container-producto-carrito {
    padding-bottom: 20px;
}

.container-producto-carrito img:nth-child(1){
    width: 150px;
    border-radius: 6px;
    grid-area: img;
    margin-bottom: 10px;
}

.container-total-carrito {
    padding: 10px;
    border: 2px solid #CFA5B4;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-total-carrito p {
    margin-bottom: 10px;
}

.container-total-carrito button {
    background-color: #CFA5B4;
    color: #846B8A;
    font-size: 1.1rem;
    width: 80px;
    height: 30px;
    border: 2px solid #846B8A;
    border-radius: 5px;
}

.container-total-carrito button:hover {
    cursor: pointer;
}

.container-total-carrito button:active {
    transform: scale(0.9);
}

@media screen and (max-width:1024px) {
    
    /* Estilos generales */
    /* header {
        display: block;
    } */

    header h1 {
        text-align: left;
        width: 35%;
    }

    header nav {
        display: none;
    }

    main h4 {
        text-align: center;
        margin-bottom: 30px;
        padding: 0;
    }

    footer .container-informacion {
        display: flex;
        flex-flow: column wrap;
    }

    footer .container-informacion div {
        width: 80%;
    }

    footer .container-informacion p {
        text-align: center;

    }

    /* Estilos Home */
    


    /* Estilos Nosotros */

    .container-main-nosotros {
        display: flex;
        flex-direction: column;
        row-gap: 0;
        height: auto;
    }

    .container-main-nosotros h4 {
        margin: 30px 0;
        padding: 0;
    }

    .container-main-nosotros img {
        width: 100%;
    }

    /* Estilos Contacto */

    .container-main-contacto {
        display: block;
    }

    .container-main-contacto img, .container-main-contacto h4, .container-main-contacto p {
        margin-bottom: 30px;
    }

    /* Estilos Galería */
    
    .container-main-galeria h4 {
        padding: 0;
    }
    
    /* Estilos Tienda */
    
    .main-tienda {
        display: block;
    }
    
    .main-tienda section h4 {
        padding: 0;
    }
    
    .container-producto-tienda p {
        font-size: 1.5rem;
    }

    .container-aside-carrito {
        display: none;
    }
    
}

@media screen and (max-width: 480px) {
    
    /* Estilos Generales */

    header h1 {
        width: 100%;
        margin-bottom: 22px;
        text-align: center;
    }

    header h1 a {
        font-size: 1.5rem;
    }
    
    .navbar-nav {
        align-items: flex-start;
    }

    .nav-link {
        margin: 15px 0;
    }

    /* Estilos Home */

    

    /* Estilos Nosotros */

    .container-main-nosotros h4 {
        margin: 0 0 30px 0;
    }
    .container-main-nosotros img {
        display: none;
    }

    .container-main-nosotros .parrafo-1 {
        padding: 20px;
    }

    /* Estilos Contacto */
    
    .container-main-contacto img {
        display: none;
    }
    
    .container-main-contacto p {
        text-align: center;
        padding: 20px;
    }
    
    .container-formulario-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container-formulario-contacto input, .container-formulario-contacto textarea {
        width: 80%;
    }
    
    .container-formulario-contacto label, .container-formulario-contacto input, .container-formulario-contacto textarea {
        text-align: center;
    }
    
    .container-formulario-contacto {
        gap: 5px;
    }
    
    .container-formulario-contacto label, .container-formulario-contacto .button {
        margin-top: 25px;
    }
    
    /* Estilos Galería */

    .container-img-galeria {
        padding: 20px;
    }

    .container-img-galeria img {
        width: 80vw;
    }

    /* Estilos Tienda */
    

    .container-producto-tienda img:nth-child(1) {
        width: 300px;
    }    
}