//comentario es sass


//importar los archivos secundarios
@import "base/variables";
@import "base/extend";
@import "base/mixin";

/* estilos index */
@import "html/index";

/* estilos nosotros */
@import "html/nosotros";

/* estilos contacto */
@import "html/contacto";

/* estilos galeria */
@import "html/galeria";

/* estilos tienda */
@import "html/tienda";


/* estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $color-principal;
    font-family: $tipografia-principal;
    header {
        height: max-content;
        padding: $medida-uno $medida-dos;
        nav {
            @include flex;
            justify-content: space-between;

            h1:hover {
                @extend %transformacion-uno;
            }
            h1 a {
                color: $color-tres;
                font-family: $tipografia-principal-dos;
                font-size: 2.3rem;
                font-weight: bold;
                text-decoration: none;
            }
            .navbar-collapse {
                justify-content: flex-end;

                .navbar-nav {
                    margin: 0;
                    list-style: none;
                    text-align: right;
        
                    .nav-item {
                        display: inline-block;
                        padding-left: 0.625rem;
        
                        .nav-link {
                            padding: 0;
                            text-decoration: none;
                            color: $color-tres;
                            font-size: $tipografia-principal-dos;
                            font-weight: bold;
                        }
                        .nav-link:hover {
                            color: $color-cuatro;
                        }
                        .current {
                            color: $color-cuatro !important;
                        }
                    }
                    .nav-item:hover {
                        @extend %transformacion-uno;
                    }
                }
            }
        }

    }
    main h2 {
        font-family: $tipografia-secundaria;
        font-size: 1.5rem;
        color: $color-cuatro;
    }
    footer {
        .container-informacion {
            padding: $medida-uno 0;
            margin-top: $medida-uno;
            list-style: none;
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;
            flex-wrap: wrap;
            
            div {
                width: $medida-uno * 10;
                padding: 0.625rem;
                text-align: left;
                
                p:nth-child(1) {
                    font-weight: bold;
                    font-size: 1.55rem;
                }

                p:nth-child(2), p:nth-child(3), p:nth-child(4), p:nth-child(5) {
                    font-family: $tipografia-secundaria;
                    line-height: 1.5;
                    font-size: 1.3rem;
                }
            }
        }

        .container-redes-sociales {
            ul {
                list-style: none;
                @include flex;
                justify-content: center;
                padding: 0;
                
                li {
                    a {
                        img {
                            margin: 0 0.19rem;
                            height: 2.19rem;
                            width: 2.19rem;
                        }

                        img:hover {
                            @extend %transformacion-uno;
                        }
                    }
                }
            }
        }

        h3 {
            font-size: 1rem;
            font-family: $tipografia-secundaria;
            text-align: center;
            font-weight: bold;
            margin: $medida-uno 0;
        }
    }
}

/* mediaqueries generales */

@media screen and (max-width: 1024px){

    body {
        header {
            nav {
                h1 {
                    text-align: left;
                    width: 40%;
                }
            }
        }
    
        main {
            h2 {
                text-align: center;
                margin-bottom: $medida-uno;
                padding: 0;
            }
        }
    
        footer {
            .container-informacion {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
    
                div {
                    width: 80%;
                    p {
                        text-align: center;
                    }
                }
                
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        header {
            display: block;
            padding: $medida-dos / 4 $medida-dos $medida-uno $medida-dos;

            nav {
                h1 {
                    width: 50%;
                    text-align: left;
                    a {
                        font-size: 1.6rem;
                    }
                }
                .navbar-nav {
                    align-items: flex-end;
                    .nav-item {
                        .nav-link {
                            margin: 1rem 0;
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}