$color-principal: linear-gradient(90deg, rgba(2,0,36,1) 0%, #fae3e3 0%, #f5dccc 89%);
$color-dos: #CFA5B4;
$color-tres: #C98BB9;
$color-cuatro: #846B8A;
$color-cinco: #382d3a;



$tipografia-principal: 'Dancing Script';
$tipografia-principal-dos: 'Dancing Script', cursive;
$tipografia-secundaria: 'Kalam', cursive;


$medida-uno: 1.875rem;
$medida-dos: 1.25rem;